<section class="hero is-{{ page.colorclass }} is-bold pt-6 has-text-centered">
	<div class="hero-body{% if page.heading_background_image %} has-bg-image{% endif %}">
		<div class="container is-max-desktop">
			<h1 class="title">{{ page.heading }}</h1>
			{% if page.subheading %}
			<p class="subtitle">{{ page.subheading }}</p>
			{% endif %}
			{% if page.trailing %}
			<p class="hero-trailing">{{ page.trailing }}</p>
			{% endif %}
		</div>

		{% if page.header_image %}
		<img class="hero-body__image" width="256" height="335" src="{{ site.baseurl }}{{ page.header_image}}" alt="A caricaturized avatar of Rami">
		{% endif %}
	</div>
</section>