<h2 class="title">Fun stuff.</h2>
<p class="subtitle">Some tools and fun things.</p>
<div class="columns is-multiline is-justify-content-center">
  {% for repo in site.data._repos %}
  <div class="column is-half-tablet is-one-third-desktop is-flex-grow-1">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <a href="{{ repo.pages_url | relative_url }}" target="_blank">
            <img src="{{ repo.image.url | relative_url }}" alt="{{ repo.name }}">
          </a>
          {% if repo.image.credits %}
            {% include _partials/photo-credits.html credits=repo.image.credits %}
          {% endif %}
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="title is-spaced has-text-{{ include.colorclass }}"><a href="{{ repo.pages_url | relative_url }}" target="_blank">{{ repo.name }}</a></h3>
          <p class="">{{ repo.blurb }}</p>
        </div>
      </div>
      <footer class="card-footer has-background-{{ include.colorclass }}-light">
        <a href="{{ repo.pages_url | relative_url }}" class="card-footer-item">
          <span class="icon is-size-4 mr-2"><i class="fas fa-info-circle"></i></span> Check it out
        </a>
        <a href="{{ repo.repo | relative_url }}" class="card-footer-item">
          <span class="icon is-size-4 mr-2"><i class="fab fa-github"></i></span> Github
        </a>
      </footer>
    </div>
  </div>
  {% endfor %}
</div>