{% assign oxbl_summary = site.data.oxbl.summary.people[0] %}
{% assign oxbl_history = site.data.oxbl.history.titles | where_exp: "item", "item.devices.first != 'Win32'" %}

<section class="section xbl">
    <div class="container is-max-desktop">
        <div class="columns is-vcentered">
            <div class="column">
                <h2 class="title">
                    <i class="fab fa-xbox"></i>
                    {{ oxbl_summary.gamertag }}
                </h2>
                <p class="subtitle">Gamer. Squadmate. Reviver.</p>
            </div>
            <div class="column xbl__image">
                <img src="{{ oxbl_summary.displayPicRaw }}" alt="{{ oxbl_summary.gamertag }}"/>
                <p class="xbl__caption">
                    <i class="fas fa-trophy fa-xs"></i>
                    {{ oxbl_summary.gamerScore }}
                </p>
                <div class="xbl__activity-overlay">
                    <h3>Latest Activity</h3>
                    {% for recent in oxbl_history limit: 3 %}
                    {% include recent-xbl.html recent = recent %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>
