<footer class="footer">
	<div class="container">
		{% comment %}
		<div class="columns">
			<div class="column">
				<h4 class="title is-size-6">made real by rami <a role="button" id="muchlove" data-id="1079"><span class="fas fa-heart" aria-hidden="true"></span></a></h4>
			</div>
		</div>
		{% endcomment %}
		<section class="columns">
			<nav class="column has-text-centered-mobile is-size-5">
				<a href="https://github.com/RamChilla" target="_blank">
					<span class="fa-brands fa-github-alt"></span>
					<span class="is-sr-only">Github</span>
				</a>
				<a href="https://www.linkedin.com/in/ramihassan419/" target="_blank">
					<span class="fa-brands fa-linkedin" aria-hidden="true"></span>
					<span class="is-sr-only">LinkedIn</span>
				</a>
				<a href="https://dribbble.com/ramchilla" target="_blank">
					<span class="fa-brands fa-square-dribbble" aria-hidden="true"></span>
					<span class="is-sr-only">Dribbble</span>
				</a>
				<a href="https://unsplash.com/ramchilla" target="_blank">
					<span class="fa-brands fa-unsplash"></span>
					<span class="is-sr-only">Unsplash</span>
				</a>
			</nav>
			<div class="column has-text-centered-mobile has-text-right-tablet">
				<p class="is-size-7">made real by rami <span class="fa-solid fa-heart" aria-hidden="true"></span></p>
				<span class="copyright is-size-7">&copy; rami h. {{ "now" | date: "%Y" }}</span>
			</div>
		</section>
	</div>
</footer>