<footer class="footer">
	<div class="container">
		{% comment %}
		<div class="columns">
			<div class="column">
				<h4 class="title is-size-6">made real by rami <a role="button" id="muchlove" data-id="1079"><span
							class="fas fa-heart" aria-hidden="true"></span></a></h4>
			</div>
		</div>
		{% endcomment %}
		<section class="columns">
			<div class="column has-text-centered-mobile ">
				<a href="https://dribbble.com/ramchilla" target="_blank"><span class="fab fa-dribbble"
						aria-hidden="true"></span></a>
				<a href="https://www.linkedin.com/in/ramihassan419/" target="_blank"><span class="fab fa-linkedin"
						aria-hidden="true"></span></a>
				<a href="https://unsplash.com/ramchilla" target="_blank">Unsplash</a>
			</div>
			<div class="column has-text-centered-mobile has-text-right-tablet">
				<p class="is-size-7">made real by rami <a role="button" id="muchlove" data-id="1079"><span
					class="fas fa-heart" aria-hidden="true"></span></a></p>
				<span class="copyright is-size-7">&copy; rami h. {{ "now" | date: "%Y" }}</span>
			</div>
		</section>
	</div>
</footer>