<footer class="footer">
	<div class="container">
		<section class="columns">
			<nav class="column has-text-centered-mobile social-nav">
				<a href="https://www.linkedin.com/in/ramihassan419/" target="_blank">
					<span class="fa-brands fa-linkedin" aria-hidden="true"></span>
					<span class="is-sr-only">LinkedIn</span>
				</a>
				<a href="https://github.com/RamChilla" target="_blank">
					<span class="fa-brands fa-github-alt"></span>
					<span class="is-sr-only">Github</span>
				</a>
				<a href="https://dribbble.com/ramchilla" target="_blank">
					<span class="fa-brands fa-square-dribbble" aria-hidden="true"></span>
					<span class="is-sr-only">Dribbble</span>
				</a>
				<a href="https://unsplash.com/ramchilla" target="_blank">
					<span class="fa-brands fa-unsplash"></span>
					<span class="is-sr-only">Unsplash</span>
				</a>
				<a href="{% link gaming.html %}">
					<span class="fa-brands fa-xbox"></span>
					<span class="is-sr-only">Xbox Live</span>
				</a>
			</nav>
			<div class="column has-text-centered-mobile has-text-right-tablet">
				<p class="has-text-weight-bold">made real by rami <span class="fa-solid fa-heart" aria-hidden="true"></span></p>
				<span class="copyright">&copy; rami h. {{ "now" | date: "%Y" }}</span>
			</div>
		</section>
	</div>
</footer>