<nav class="navbar is-{{ page.colorclass }} is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item navbar-circle has-background-{{ page.colorclass }}" href="/">
               <span>r</span>
            </a>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ site.url | relative_url }}">home</a>
                <a class="navbar-item" href="/about/">about</a>
                <a class="navbar-item" href="/work-experience/">résumé</a>
                <a class="navbar-item" href="https://github.com/RamChilla" target="_blank">github&nbsp;<span class="fas fa-external-link-alt fa-sm"></span></a>
            </div>
        </div>
    </div>
</nav>