<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                ramchilla
            </a>
        
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a href="/services" class="navbar-item">Services</a>
                <a href="/portfolio" class="navbar-item">Portfolio</a>
            </div>
        </div>
    </div>
</nav>