{% assign gc = site.data.xbl.gamercard %}
{% assign profile =
site.data.xbl.profile %}
{% assign recent = site.data.xbl.activity[0] %}

<section class="section xbl">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h2 class="title">
                    <i class="fab fa-xbox"></i>
                    {{ gc.gamertag }}
                </h2>
                <p class="subtitle">Gamer. Squadmate. Reviver.</p>

                <h3>Latest Activity</h3>

                <p class="subtitle">{{ recent.contentTitle }}</p>
                <article class="media xbl__latest-activity">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="{{ recent.contentImageUri }}" alt="{{recent.contentTitle }}"/>
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <i class="fas fa-gamepad"></i>
                                <strong>{{recent.gamerscore }} - 
                                    {{ recent.achievementName }}</strong><br>
                                {{ recent.achievementDescription }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column xbl__image">
                <img src="{{ profile.displayPicRaw }}" alt="{{ profile.gamertag }}"/>
                <p class="xbl__caption">
                    <i class="fas fa-gamepad fa-sm"></i>
                    {{ gc.gamerscore }}
                </p>
            </div>
        </div>
    </div>
</section>
