{% assign oxbl_summary = site.data.oxbl.summary.people[0] %}
{% assign oxbl_history = site.data.oxbl.history.titles | where_exp: "item", "item.devices.first != 'Win32'" %}

<section class="xbl__summary pushed">

    <div class="xbl__summary-recent">
        {% comment %}
        <h2 class="title">
            <i class="fab fa-xbox"></i>
            {{ oxbl_summary.gamertag }}
        </h2>
        <p class="subtitle">Gamer &amp; Squadmate.</p>
        {% endcomment %}

        <h2>Latest Activity</h2>
        {% for recent in oxbl_history limit: 5 %}
        {% include _partials/xbl/recent-game-list-item.html recent=recent %}
        {% endfor %}
    </div>

    <div class="xbl__summary-image">
        <img src="{{ oxbl_summary.displayPicRaw }}" alt="{{ oxbl_summary.gamertag }}" />
        <p class="xbl__caption">
            <i class="fas fa-trophy fa-xs" role="presentation"></i>
            <span title="My gamerscore" >{{ oxbl_summary.gamerScore }}</span>
        </p>
        <div class="xbl__overlay">
            <h2 class="title" title="My gamertag">
                <i class="fab fa-xbox"></i>
                {{ oxbl_summary.gamertag }}
            </h2>
        </div>
    </div>
    
</section>