.hero.is-primary .title,
.hero.is-primary .subtitle,
.hero.is-primary {
	color: $cream;
}

.hero-trailing {
	max-width: 768px;
	margin: auto;
	font-weight: 700;
	font-size: 20px;
}

.hero {

    &-body {

        &.has-bg-image {
            padding-bottom: 1.25rem;
        }

        &__image {
            display: block;
            margin: 2rem auto 0;
            width: 256px;
            height: 335px;
        }
    }
}