.social-nav {
    font-size: 24px;

    a {
        display: inline-block;
        width: 28px;
        text-align: center;
        color: $cream;
        border-radius: $border-radius-base;
        transition: all ease-in 220ms;
        outline: 0 solid transparent;
        outline-offset: 4px;

        &:hover,
        &:focus {
            outline: 1px solid $cream;
        }
    }
}
