.stats {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px #d5d5d5;
    padding: 1.25rem 0;

    @media screen and (min-width: 540px), print {
        display: flex;
        flex-wrap: wrap;

        &__item {
            flex-basis: 50%;
        }
    }

    // @media screen and (min-width: 768px), print {

    //     &__item {
    //         flex-basis: 50%;
    //     }
    // }

    @media screen and (min-width: 920px), print {

        &__item {
            flex-basis: 25%;
        }
    }

    &--pushed {
        @extend .stats;
        margin-top: -1.25rem;
    }
}