.stats {
    @extend %floating-block;

    @media screen and (min-width: 540px), print {
        display: flex;
        flex-wrap: wrap;

        &__item {
            flex-basis: 50%;
            margin-bottom: 0.75rem;
        }
    }

    // @media screen and (min-width: 768px), print {

    //     &__item {
    //         flex-basis: 50%;
    //     }
    // }

    @media screen and (min-width: 920px), print {

        &__item {
            flex-basis: 25%;
            margin-bottom: 0;
        }
    }

    &--pushed {
        @extend .stats;
        margin-top: -$push-factor;
    }
}