.testimonials {

    &__container {
        border-radius: 12px;
        box-shadow: 0 0 12px rgb(227, 236, 233);
        background-color: #fff;
        border: 1px solid rgb(227, 236, 233);
    }

    cite {
        font-style: normal;
    }

    // &__list {
    // }

    &__item {
        padding: 2rem 3.2rem 2.4rem;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        
        @media screen and (min-width: 768px) {
            padding: 2rem 6.4rem;
        }

        .subtitle:first-child {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.25rem;
        }
        .subtitle:nth-child(2) {
            // font-weight: 700;
            font-size: 1.125rem;
        }
    }

    .splide__pagination__page {

        &.is-active {
            box-shadow: 0 0 0 2px #ccc;
            transform: scale(1.1);
        }
    }
}