.xbl {
	@extend %floating-block;

	&__image {
		position: relative;
		padding: 0;
		overflow: hidden;
		
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	// opacity: 0;
		// 	// background-image: radial-gradient(transparent 50%, rgba(35,35,35, .4) 80%);
		// 	backdrop-filter: blur(15px);
		// 	mask: radial-gradient(transparent 50%, black 75%);
		// 	transition: 220ms;

		// 	@at-root .xbl:hover & {
		// 		backdrop-filter: none;
		// 	}
		// }
		//   &:hover:after {opacity: 1;}

		img {
			display: block;
		}

		
	}

	&__overlay {
		color: #fff;
		position: absolute;
		bottom: 35px;
		left: 25px;

		strong {
			color: inherit;
		}

		.title {
			color: inherit;
			text-shadow: 0 0 5px #3e394d;
		}

	}

	&__caption {
		position: absolute;
		top: 10px;
		left: 24px;
		font-family: $heading-font-family; // "Montserrat", "Open Sans", sans-serif;
		font-size: 48px;
		color: white;
		text-shadow: 0 0 5px #3e394d;
	}

	&__latest-activity {
		display: flex;
		align-items: center;

		@at-root & + & {
			margin-top: 0.5rem;
		}
		
		.image {
			background-color: $primary;
			border-radius: $border-radius-base;
			margin-right: 8px;
		}
	}

	&__game-item {
		@extend %floating-block;

		display: flex;
		align-items: center;
		padding: 0;
		position: relative;
		overflow: hidden;
		height: 100%;

		@at-root & + & {
			margin-top: 0.5rem;
		}
		
		.image {
			background-color: $primary;
			border-radius: $border-radius-base 0 0 $border-radius-base;
			margin-right: 16px;
			min-width: 128px;
			min-height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	
	&__game-placeholder {
		background-color: $primary;
		border-radius: $border-radius-base 0 0 $border-radius-base;
		margin-right: 16px;
		
		display: block;
		width: 128px;
		min-width: 128px;
		height: 100%;
		min-height: 128px;
		align-content: center;
		text-align: center;
		color: $cream;
	}

	&__platform-icon {
		position: absolute;
		top: 20px;
		right: 10px;
		font-size: 8.4rem;
		opacity: 0.1;
		z-index: 1;
	}
}
