$addColors: (
	"twitter": (
		$twitter,
		$twitter-invert,
	),
	"linkedin": (
		$linkedin,
		$linkedin-invert,
	),
	"github": (
		$github,
		$github-invert,
	),
	"cream": (
		$cream,
		findColorInvert($cream)
	)
);
$colors: map-merge($colors, $addColors);

$link: inherit; // $primary;

$text: #0a392e;

$title-color: $text;
$title-family: false;
$title-size: $size-3;
$title-weight: $weight-bold;

$content-heading-color: $text;
$content-heading-weight: 700;