$family-sans-serif: "Open Sans", BlinkMacSystemFont, -apple-system,
	"Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-heavy: 900;

// 4. Setup Custom Colors
$footer-color: #63baaa;
$primary: $turquoise;
$info: $cyan;
$success: $green;
$warning: #a21025;
$danger: $red;

$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

$box-shadow: none;

$navbar-background-color: inherit;

$tablet: 768px;
