---
layout: default
enableSplide: true
---
{% include _partials/page-header.html %}

{% include testimonials.html push=true %}

{% include _partials/linkedin-connect.html view_resume=true padding_class='py-6' %}

{% comment %}
<section class="section">
	<div class="container is-max-desktop">
		{% include _partials/repos.html colorclass=page.colorclass %}
	</div>
</section>
{% endcomment %}

<section class="section pt-0">
	<div class="container">
        <div class="columns is-centered">
            <div class="column is-7-tablet content">
                {{ content }}
            </div>
        </div>
        {% include _partials/linkedin-connect.html view_resume=true %}
	</div>
</section>


<section class="hero is-xbox is-bold has-text-centered">
	<div class="hero-body">
		<div class="container is-max-desktop">
			<h1 class="title">A gaming &amp; hardware enthusiast.</h1>
			<p class="subtitle">PC builder, gamer &amp;&nbsp;squadmate.</p>
			<p class="hero-trailing">I enjoy working with PC hardware and like to build my own computers as well as those of friends. Gaming on PC/console is a part of my life and I typically enjoy simulators and first-person shooters. Hanging out with friends online can be quite the social hour.</p>
		</div>
	</div>
</section>


<section class="section py-0">
    <div class="container is-max-desktop">
        {% include xbox-live.html colorclass="white" %}
    </div>
</section>


<section class="section">
    <div class="container is-max-desktop">
        <h3 class="subtitle">Games on other platforms.</h3>
        <p class="subt">&hellip;</p>
    </div>
</section>

{% comment %}
{% endcomment %}
