---
layout: default
---
{% include _partials/page-header.html %}

{% if site.data._stats %}
{% include stats.html push=true %}
{% endif %}

{% include _partials/linkedin-connect.html view_resume=true padding_class='py-6' %}

<section class="section pt-0">
	<div class="container">
        <div class="columns is-centered">
            <div class="column is-7-tablet content">
                {{ content }}
            </div>
        </div>
        {% include _partials/linkedin-connect.html view_resume=true %}
	</div>
</section>

{% comment %}
<section class="section">
    <div class="container">
        {% include xbox-live.html colorclass="white" %}
    </div>
</section>
{% endcomment %}
