---
layout: default
---
<div class="splash">
    <main class="splash-inner" aria-label="Welcome">
        <div class="left">
            <img src="{{ "/assets/img/ram-avi.jpg" | relative_url }}" alt="Ramchilla">
        </div>
        <div class="right">
            {{ content }}
            <div class="button-group">
                <a href="http://ramihassan.net" class="btn btn-link"><i class="fa fa-globe"></i> Web</a>
                <a href="//dribbble.com/ramchilla" class="btn btn-link"><i class="fa fa-dribbble"></i> Dribbble</a>
                <a href="//twitter.com/realramchilla" class="btn btn-link"><i class="fa fa-twitter"></i> Twitter</a>
            </div>
        </div>
    </main>
    <aside class="umbraco-cd">
        <img src="{{ "/assets/img/ucd.png" | relative_url }}" alt="Umbraco Certified Professional">
        <p><small><a href="https://umbraco.com/training/certified-developers/umbraco-7-certified-developers/certifieddeveloperdetails/?id=43557f48-d5b1-4a48-a9e5-4dddd050c64f" target="_blank">Rami is an Umbraco Certified Professional</a></small></p>
    </aside>
</div>