---
layout: default
---
<div class="splash">
    <main class="splash-inner" aria-label="Welcome">
        <div class="left">
                <!-- <img src="{{ "/assets/img/rami-walker.jpg" | relative_url }}" alt="Ramchilla"> -->
                <!-- <video muted autoplay loop playsinline poster="{{ "/assets/img/rami-headshot.jpg" | relative_url }}">
                    <source src="{{ "/assets/img/longboard-nose-video.mp4" | relative_url }}" type="video/mp4"></source>
                    <img src="{{ "/assets/img/rami-walker.jpg" | relative_url }}" alt="Ramchilla">
                </video> -->
            </div>
        <div class="right">
            {{ content }}
            <div class="button-group">
                <a href="/" class="btn btn-link"><i class="fa fa-home"></i> Home</a>
            </div>
        </div>
    </main>
</div>