---
layout: default
---
<section class="hero is-medium is-danger is-bold">
    <div class="hero-body">
        <div class="content container">

            <div class="columns is-vcentered is-1">
                <div class="column">
                    {{ content }}
                </div>
                <div class="column is-2 content has-text-centered">
                    <h1 class="has-text-white has-text-weight-light is-size-1">404</h1>
                </div>
            </div>
            
        </div>
    </div>
</section>